{
  "weatherApiKey": "[YOURAPIKEY]",
  "timezone": "US/Pacific",
  "location": {
    "lat":"47.56",
    "long": "-122.26"
  },
  "lights": {
    "Living Room": {
      "rules": [
        {
          "on": "5:00",
          "offSunrise": 30,
          "offAdjustClouds": 60
        },
        {
          "onSunset": -45,
          "onAdjustClouds": -60,
          "off": "23:30"
        }
      ]
    },
    "Front Steps": {
      "rules": [
        {
          "daysOfWeek": "5",
          "on": "5:20",
          "offSunrise": 10
        },
        {
          "onSunset": 0,
          "off": "23:00"
        }
      ]
    }
  }
}
