{
  "weatherApiKey": "[APIKEY]",
  "timezone": "US/Pacific",
  "location": {
    "lat":"47.56",
    "long": "-122.26"
  },
  "switches": {
    "Kitchen Light Switch": {
      "rules": [
	{
          "on": "5:00",
          "offSunrise": 60,
	  "offAdjustClouds": 90
	},
	{
          "onSunset": -60,
          "onAdjustClouds": -90,
          "off": "23:30"
	}
      ]
    },
    "Front Steps Light Switch": {
      "rules": [
	{
          "onSunset": 0,
          "off": "23:00"
	}
      ]
    }
  },
  "lights": {
    "Living Room": {
      "rules": [
        {
          "on": "5:00",
          "offSunrise": 60,
          "offAdjustClouds": 90
        },
        {
          "onSunset": -60,
          "onAdjustClouds": -90,
          "off": "23:30"
        }
      ]
    }
  }
}
